<h1>Welcome to Jackie Chan</h1>
<img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTFsdymmy8jUhaqaeEJ9c-YFv1Oi-sFEyt9SIl2T1FjBvdMOk9XyAG1jMzD"
width="260" height="180"><br>

<a href='/topics/new'>Start a new Thread</a>

<hr size="10" noshade>


<% @topics.each do |topic| %>
  <hr>
  <a href="<%=topic_url(topic.id)%>"><b><%=topic.title%></b></a>
  (<%=topic.replies.length.to_s%> replies)
  <p>
    <%=topic.body%>
  </p>
  <hr>


  <ul>
      <% for i in 0...3 do %>
            <% break if topic.replies[i].nil? %>
            <li>
                <b>Annonymous#<%=topic.replies[i].id%>:</b><br>
                <%=topic.replies[i].body%>
            </li>
      <% end %>
  </ul>


<% end %>
