<h1>Make a new thread</h1>

<%= render 'shared/errors' %>

<form action='/topics' method="POST">
  <label>Title
    <input type="text" name="topic[title]" value="<%=@topic.title%>">
  </label>
  <br>
  <br>
    Body
    <br>
    <textarea name="topic[body]" rows="30" cols="50"><%=@topic.body%></textarea><br>
  <button>Submit Thread</button>
</form>
<hr>
<br>

<a href="/topics">Back to Homepage</a>