<h2> <%= @topic.title %> </h2>
  <p>
    <%=@topic.body%>
  </p>
  <hr>
  <!-- list of replies goes here -->
    <ul>
      <% @topic.replies.each do |reply| %>
        <li>
          <b>Annonymous#<%=reply.id%>:</b><br>
          <%=reply.body%>
          <!-- replies to replies goes here. -->
        </li>
      <% end %>
    </ul>

  <br>
  <br>
  <hr size="20" noshade>

  <form action="<%=replies_url%>" method="POST">
    <input type="hidden" name="reply[repliable_id]" value="<%=@topic.id%>">
    <input type="hidden" name="reply[repliable_type]" value="Topic">
    <input type="hidden" name="reply[topic_id]" value="<%=@topic.id%>">
    <label>Reply to the Thread<br>
    <textarea name="reply[body]" rows="10" cols="30"></textarea><br>
    <button>Submit</button>
  </label>
  </form>

  <br>
  <a href="/topics">Back to Main Page</a>
